.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    margin: 30px;
}

.left {
     flex-grow:4;
     justify-self:start;

}

.right {
    flex-grow:0;
    justify-self: end;
}

.reserv__result {
    font: black 14px;
}

