.rest-card {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 300px;
    min-height: 250px;
    max-height: 400px;
    overflow-y: auto;
}

.rest-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}
