
.loginandsignup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__image {
    display: flex;
    height: 100vh;
    width: 40%;
}

#error {
    /* display: flex;
    height: 40px;
    width: 20px; */
    color: red;
}

.invalid-feedback {
    color: red;

}